
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-white post">
            <div class="post-heading">
                <div class="pull-left image">
                <img src={{post.user_account.avatar.url}} class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                    <a href="{% url 'accounts:profile' post.user_account.user.username %}"><b>{{post.user_account.user.first_name}} {{post.user_account.user.last_name}}</b></a>
                    {% comment %} uploaded a photo. {% endcomment %}
                    </div>
                <h6 class="text-muted time">{{post.create_at|timesince}} ago</h6>
                </div>
            </div>
            <div class="post-image">

            {% comment %} {% include 'posts/gallery.html' %} {% endcomment %}

            {% for media in post.post_media %}
                    
            <img src={{media.user_media.url}} class="image" alt={{media.alt}}>  
                    
            {% endfor %}

            </div>
            <div class="post-description">
            {% comment %} <h4>Product Shoot</h4> {% endcomment %}
            {% comment %} vasdvs {% endcomment %}
            <p>{{post.description}}</p>
                <div class="stats">
                <a href={% url 'posts:like' post.id %} class="btn btn-default stat-item">
                <i class="fa fa-thumbs-up icon"></i>{{post.post_likes}}
                </a>
                {% comment %} <a href="javascript:void(0);" class="btn btn-default stat-item">
                <i class="fa fa-share icon"></i>128
                </a> {% endcomment %}
                </div>
            </div>
            <div class="post-footer">
                {% include 'posts/post_comment.html' %}
            </div>
        </div>
    </div>
</div>

